*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Mulish,sans-serif;
}
.bg-card{
    background-color: red;;
    background-image:url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    width:800px;
    height:600px;
    /* position: relative; */
    position: relative;
    margin:auto;
    top:100px;
    /* border-radius: 10px; */
    box-shadow: 0 0 20px 20px rgb(218, 212, 212);
}
.main-card{
    width:650px;
    height:400px;
    /* background-color: red; */
    position:relative;
    top:100px;
    left:100px;
    background-color:#2a2f40;
  
}
.main-card .left{
    width:300px;
    height:400px;
    display: inline-block;
    /* position: relative;
    top:0;
    left:0; */
    /* border:2px solid black; */
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color:#ff6d39;
}
.left img{
    position:absolute;
    top:65px;
    left:-100px;
    /* width:400px; */
}

.main-card .right{
    width:300px;
    height:400px;
    display: inline-block;
    /* background-color: red; */
    padding:10px;
    position:absolute;
    top:15px;
    right:20px;
}
.product-name{
    /* background-color:green; */
    /* margin-bottom:35px; */
}
.product-name h1{
    color:#ff6d39;
    display: inline-block;
    font-size: 25px;
}
.product-name ul{
    /* background-color: green; */
    display: inline-block;
    position:relative;
    left:50px;
}
.product-name ul li{
    display: inline-block;
    list-style: none;
    margin:0 10px;
    color:white;

}
.product-name li:hover{
    color:orange;
    cursor: pointer;
}
.currency-150{
    font-size:20px;
    font-weight:bold;
    display: inline-block;
    margin-right:20px;
}
.currency-200{
    font-size:15px;
    display: inline-block;
    text-decoration: line-through;
    text-decoration-color: red;
}
.details{
    /* margin:30px 0; */
    position:relative;
    top:60px;
    /* background-color: pink; */
    color:white;

}
.details h2{
 /* position:relative;
 top:10px; */
 font-size:30px;
 font-weight:bold;
 margin:10px 0;
 

}
.details h4{
    /* position:relative;
    top:20px; */

}
.size-number{
    /* background-color:pink; */
    position:relative;
    top:90px;
    color:white;
    display:inline-block;
    list-style: none;
}
.size-number li{
    display:inline-block;
    margin:0 10px;
    font-size: 15px;
    /* position:relative;
    top:60px; */   
}
.size-number li a{
    text-decoration:none;
    color:white;
    display:inline-block;
    text-align: center;
    width:20px;
}
.size-number li a:hover{
    /* border:1px solid black; */
    border-radius: 50%;
    background-color:orange;
}
.color-category{
    /* background-color:rgb(198, 198, 216); */
    position:relative;
    top:115px;
    display:inline-block;
    list-style: none;
    color:white;
    font-size: 12px;

}
.color-category li{
    display:inline-block;
    margin:0 10px;
}
/* .color-category li:hover{
    border:2px solid orange;
    border-radius:50%;
} */
.payment-step{
    display:inline-block;
    /* background-color: green; */
    position:relative;
    top:140px;
    color:white;
    
}
.payment-step li{
    display:inline-block;
    margin-right: 35px;
    font-size: 12px;
   
}
.payment-step li i{
    margin-right: 10px;
}
.payment-step li:hover{
    cursor: pointer;
    color:orange;
}